<%= form_with model: Comment, url: user_post_comments_path(@user, @post), class: "create-comment-form" do |form| %>
    <div>
        <%= form.label :Comment %><br>
        <%= form.text_field :text, class: "create-comment-text" %>
    </div>

   
      <%= form.submit 'Add comment' %><br>
  
<% end %>