<h1>Listing all the Users <h1>

<div class="body">
    <% @users.each do |user| %>
    
        <div class="user_info">
         <%= link_to user do %>
            <div class="img_container">
                <%= image_tag user.photo, class:"user_image" %>
            </div>

            <div class="user_post">
                <div class="user_name">
                    Username: <%= user.name %>
                </div>

                <div class="post_count">
                Number of posts: <%= user.posts_counter %>
                </div>
            </div>
            <% end %>
        </div>
    <% end %>
    
</div>