<h1>All comments for the post</h1>

<div class="wrapper">
    <span>post <%= @post.id %> by:</span>
    <p><%= @post.title %></p>
</div>
<% @comments.each do |comment| %>
    <%= comment.text %>
<% end %>